.heading {
    font-size: 40px;
    width: 1750px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.note, #font-size{
    font-size: 25px;
    background-color: orange;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    line-height: 3;
    text-align: center;
}

canvas {
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 5px 5px 5px orangered;
}